<div class="flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-foreground">Membres</h3>
      <span class="text-xs text-muted-foreground">de l'equipe</span>
    </div>
   
  </div>

  <div class="relative overflow-x-auto">
    <table class="w-full table-auto">
      <!--Table head-->
      <thead class="text-xs uppercase text-muted-foreground">
        <tr>
          <th class="py-3 text-left">Membre</th>
          <th class="py-3 text-right">Nom </th>
          <th class="py-3 text-right">Prenom </th>
          <th class="py-3 text-right">Email</th>
          
        </tr>
      </thead>
      <!--end Table head-->
      <!--Table body-->
      <tbody>
        <tr
          *ngFor="let auction of activeAuction"
          [auction]="auction"
          nft-auctions-table-item
          class="border-b border-dashed border-border hover:bg-card"></tr>
      </tbody>
      <!--end::Table body-->
    </table>
  </div>
</div>
